#title {
    padding-top: 0;
    margin-top: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.results-frame {
    background-color: white;
    height: 100vh;
    padding-top: 5rem;
}

.shops-table, .global-statistics-table {
    background-color: #F9F9F9;
    margin: 3rem auto;
    border: 3px solid #333333;
    border-radius: 10px;
    padding: 3rem 2rem;
    box-sizing: border-box;
    text-align: center;
}

.MuiInputLabel-root {
    color: #333333 !important;
}

.border-left {
    border-left: 1px solid rgba(224, 224, 224, 1);
}

/*.shops-statistics {*/
/*    border-bottom: 1px solid rgba(224, 224, 224, 1);*/
/*}*/

/*.shops-statistics:last-child {*/
/*    border-bottom: none;*/
/*}*/