.results-frame {
  background-color: white;
  height: 100vh;
  padding-top: 5rem;
}

.results {
  background-color: #F9F9F9;
  width: 80%;
  margin: 3rem auto;
  border: 3px solid #333333;
  border-radius: 10px;
  padding: 3rem 2rem;
  box-sizing: border-box;
}

.MuiInputLabel-root {
  color: #333333 !important;
}
